# Python
__pycache__/
*.pyc
.venv/
venv/

# Data & models (often large, don't commit by default)
data/*
!data/.gitkeep
models/*
!models/.gitkeep

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/screenshot_*.png
